body{
    background-color: bisque;
}

.navigation{
    display: flex;
}

.nav-bar {
    color: brown;
    margin: 10px 30px;
    text-decoration: none;
    position: relative; /* anchor for ::after */
    padding: 8px 16px;
    border-radius: 12px; /* rounded corners */
}

.nav-bar:hover{
    transform: scale(1.1);
}